.swiper-button-next,
.swiper-button-prev {
	color: #b42e02;
}

/* .swiper-button-next:hover,
.swiper-button-prev:hover {
	color: #cf9a29;
} */

.swiper-button-next,
.swiper-button-prev {
	width: 30px;
	height: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 20px;
	font-weight: bold;
}
